.pnpm-store/

.turbo/

junit.xml

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*.local

Dockerfile*
docker-compose.override.yml

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db

*.sqlite
*.db
*.db-shm
*.db-wal

prisma/dev.db
